**DATA TYPES AND STRUCTURE**

1.Write a code to create a string with your name and print it

In [1]:
name = "Amay Lohar"
print(name)

Amay Lohar

2.Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
length = len(text)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

4. Write a code to convert the string "hello" to uppercase

In [5]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [11]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [13]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print(second_last)

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [14]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [15]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [16]:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [18]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [19]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [22]:
person = {
    "name": "Amay",
    "age": 21,
    "city": "Mumbai"
}
print(person)

{'name': 'Amay', 'age': 21, 'city': 'Mumbai'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [23]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [24]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26.Write a code to create a list, a tuple, and a dictionary, and print them all

In [27]:
my_list = [1, 2, 3, 4]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [29]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[22, 71, 80, 87, 94]
[25, 46, 47, 98, 100]

28.Write a code to create a list with strings and print the element at the third index

In [30]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
element = fruits[3]
print(element)

date

29.Write a code to combine two dictionaries into one and print the result

In [31]:
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30.Write a code to convert a list of strings into a set

In [32]:
fruits_list = ["apple", "banana", "cherry", "apple", "banana"]
fruits_set = set(fruits_list)
print(fruits_set)

{'cherry', 'banana', 'apple'}